<h2 class="screen-align">Createcollegedata</h2>
<div id="template-ivjf" class="row">
    <div id="template-ijm4" class="cell">
        <label id="template-iae5" class="label ">
            <div id="template-ilpxk" class="">rollno</div>
        </label>
        <input id="template-itbbu" [(ngModel)]="collegedata.rollno" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
    <div id="template-iupz" class="cell">
        <label id="template-i613" class="label ">
            <div id="template-iv6ro" class="">name</div>
        </label>
        <input id="template-i6qeh" [(ngModel)]="collegedata.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
    <div id="template-irn5" class="cell">
        <label id="template-irf7" class="label ">
            <div id="template-iz3c1" class="">email</div>
        </label>
        <input id="template-irkfr" [(ngModel)]="collegedata.email" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>
<div id="template-iorij" class="row">
    <div id="template-invlh" class="cell">
        <label id="template-iji3i" class="label ">
            <div id="template-iio47" class="">age</div>
        </label>
        <input id="template-i73ig" [(ngModel)]="collegedata.age" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-ih0cz" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-iiqoz" class="">create</div>
        </button>
    </div>
    <div id="template-i72co" class="cell"></div>
    <div id="template-izhu4" class="cell"></div>
</div>