<h2 class="screen-align">Createstudent</h2>
<div id="template-ipfy" class="row">
    <div id="template-i948" class="cell">
        <label id="template-iikk" class="label ">
            <div id="template-i8fb" class="">Name</div>
        </label>
        <input id="template-i1jh" [(ngModel)]="studentdata.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-i632k" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-inwzv" class="">Create</div>
        </button>
    </div>
    <div id="template-ivdk" class="cell">
        <label id="template-i9bb" class="label ">
            <div id="template-ikzs" class="">Age</div>
        </label>
        <input id="template-imt2" [(ngModel)]="studentdata.age" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>